*{
    margin:0;
    padding:0;
    align-items: center;
    font-size: 40px;
    text-align: center;
}
body{
    background-color: #12b212;
}
.a1{
    position: absolute;
    top:40%;
    height:20%;
    width: 50%;
    background-color: grey;
  
}
.a2{
     position: absolute;
    left:40%;
    height:50%;
    width: 20%;
    background-color: grey;
    
}

.a3{
     position: absolute;
    left:50%;
    top: 40%;
    height:20%;
    width: 50%;
    background-color: grey;
  
}
.a4{
    position: absolute;
    top:50%;
    left:40%;
    height:50%;
    width: 20%;
    background-color: grey;
   
}

#car{
    position: absolute;
    top: 93%;
    left: 45%;
    height: 7%;
    width: 20%;
    display: none;
}


#tar{
    position: absolute;
    top: 47%;
    left:0%;
    height: 8%;
    width: 20%;
    display: none;

}
#thr{
     position: absolute;
    top: 0%;
    left:45%;
   height: 7%;
    width: 20%;
    display: none;

}

#for{
    position: absolute;
    top: 47%;
    left:80%;
    height: 7%;
    width: 20%;
    display: none;
}

@keyframes crrl{
    0%{top:90%;}
    25%{top:45%;}
    50%{ top:45%; transform: rotate(-90deg);}
    100%{left:0%;top: 45%;transform: rotate(-90deg);}
}
@keyframes crrr{
    0%{top:90%;}
    25%{top:45%;}
    50%{ top:45%; transform: rotate(90deg);}
    100%{left:80%;top: 45%;transform: rotate(90deg);}
}

@keyframes crrs{
    0%{top:90%;}
    25%{top:65%;}
    50%{ top:25%;}
    100%{top:0%;}
}

@keyframes crru{
    0%{top:90%;}
    25%{top:45%;}
    50%{top:45%;transform: rotate(180deg)}
     100%{top:95%;transform: rotate(180deg);}
}

@keyframes trr4{
     0%{left:0%;}
    25%{left:25%;}
    50%{ left:65%;}
    100%{left:80%;}
}

@keyframes trr1{
     0%{left:0%;}
    25%{left:45%;transform: rotate(90deg)}
    50%{ top:50%;transform: rotate(90deg)}
    100%{left: 45%; top:90%;transform: rotate(90deg)}
}

@keyframes trr3{
     0%{left:0%;}
    25%{left:45%;transform: rotate(-90deg)}
    50%{ top:50%;transform: rotate(-90deg)}
    100%{left: 45%; top:0%;transform: rotate(-90deg)}
}

@keyframes trr2{
     0%{left:0%;}
    25%{left:45%;}
    50%{ left:45%;transform: rotate(180deg)}
    100%{left: 0%; transform: rotate(180deg)}
}

@keyframes thrr2{
     0%{top:0%;}
    25%{top:45%;}
    50%{top: 45%; left:45%;transform: rotate(90deg)}
    100%{top: 45%; left: 0%; transform: rotate(90deg)}
}

@keyframes thrr4{
     0%{top:0%;}
    25%{top:45%;}
    50%{top: 45%; left:45%;transform: rotate(-90deg)}
    100%{top: 45%; left: 80%; transform: rotate(-90deg)}
}

@keyframes thrr3{
     0%{top:0%;}
    25%{top:45%;}
    50%{top: 45%;transform: rotate(180deg)}
    100%{top: 0%; transform: rotate(180deg)}
}
@keyframes thrr1{
     0%{left:45%;top: 0%;}
    25%{top: 25%;}
    50%{ top:65%;}
    100%{top:90%;}
}

@keyframes frr2{
     0%{left:80%;}
    25%{left: 65%;}
    50%{ left:30%;}
    100%{left:0%;}
}

@keyframes frr4{
     0%{left:80%;}
    25%{left: 45%;}
    50%{ left:45%; transform: rotate(180deg)}
    100%{left:80%;transform: rotate(180deg)}
}

@keyframes frr1{
     0%{left:80%;}
    25%{left: 43%;}
    50%{ left:43%; transform: rotate(-90deg)}
    100%{left: 43%; top:90%;transform: rotate(-90deg)}
}

@keyframes frr3{
     0%{left:80%;}
    25%{left: 43%;}
    50%{ left:43%; transform: rotate(90deg)}
    100%{left: 43%; top:0%;transform: rotate(90deg)}
}

.line{
    position: absolute;
    width: 5%;
    height: 100%;
    left: 51%;
    background-color: white;
}
.line2{
    position: absolute;
    width: 5%;
    height: 80%;
    left: 51%;
    top: 20%;
    background-color: white;
}

.line1{
    position: absolute;
    width: 100%;
    height: 5%;
    top: 53%;
    background-color: white;
    border: none;
}
.num3{
    font-size: 100px;
    color: white;
    text-align: left;
}
.num4{
    font-size: 100px;
    color: white;
    text-align:end;
}
.num1{
    font-size: 100px;
    color: white;
    position: absolute;
    top: 85%;
    left: 7%;
}
.car img{
    height: 100%;
    width: 100%;
    transform: rotate(-90deg);
    }
.tar img{
       height: 100%;
    width: 100%;
}
.thr img{
       height: 100%;
    width: 100%;
    transform: rotate(90deg);
}
.for img{
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
}

@media only screen and (max-width:980px){
    .a2{
        width: 40%;
        left: 30%;
    }
    .a4{
        width: 40%;
        left: 30%;
    }
    .car{
        width: 10%;
        height: 20%;
    }
    
}